@font-face {
    font-family: 'IRANSanse';
    src: url('./fonts/Iranian Sans.ttf') format('truetype'); /* Legacy iOS */
}

body {
    font-family: IRANSanse, Arial, sans-serif;
    direction: rtl;
    text-align: right;
}

.ticket {
    width: 70%;
    margin: 20px auto;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

.details-table, .passenger-table {
    border: 1px solid #000;
}

.details-table {
    font-size: 16px;
    font-weight: 100;
    background-color: #d3d3d3;
    border-bottom: none;
    padding: 10px;
}

.details-table tr:first-of-type td {
    padding-top: 18px;
}

.details-table tr:last-of-type td {
    padding-bottom: 18px;
}

.details-table td {
    border: none;
    padding: 8px 22px;
    text-align: right;
		font-family: tahoma;
		font-weight: 100;
}

.tdbold {
    font-weight: 600;
    font-size: 16px !important;
}

th {
    background-color: #d3d3d3;
}

td.highlight {
    background-color: #d3d3d3;
}

.passenger-table th {
		padding: 0 5px 10px 20px;
    text-align: right;
    font-weight: 100;
    font-family: tahoma;
    font-size: 14px;
		white-space: nowrap;
}

.passenger-table td {
		font-size: 16px;
    font-family: tahoma;
    font-weight: 100;
}

.whitespace {
    padding-right: 50px !important;
}

@media only screen and (max-width: 1350px) {
    .ticket {
        width: 1000px;
    }
}

@media only screen and (max-width: 1100px) {
    .ticket {
        width: 95%;
    }
}
